<div class="dropdown upload-dropdown">
  <button *hasClaim="['IsFileUpload','IsFolderCreate']" class="btn btn-primary dropdown-toggle btn-upload" type="button"
    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="material-icons-outlined">
      file_upload
    </span>
    上传
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <button *hasClaim="'IsFileUpload'" (click)="fileInput.click()" type="button" class="dropdown-item">
      <i class="fas fa-file"></i> 文件
    </button>
    <input (change)="fileEvent($event)" hidden #fileInput multiple name="file" type="file" name="Upload File"
      fxFlex="30">
    <button *hasClaim="'IsFolderCreate'" (click)="folderInput.click()" type="button" class="dropdown-item">
      <i class="fas fa-folder"></i> 文件夹
    </button>
    <input (change)="folderEvent($event)" hidden #folderInput webkitdirectory directory name="file" type="file"
      name="Upload Folder" fxFlex="30">
  </div>
</div>
<div class="loading-shade" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
