.drag-drop {
  position: relative;

  input {
    opacity : 0;
    position: absolute;
    z-index : 2;
    top     : 0;
    left    : 0;
  }
}

.group {
  padding: 0;
  margin : 0;
}

.selected {
  border: 1px solid #5ebfe3;
}