<div class="footer">
  <div class="row align-items-center">
    <div class="col-md fs-12">
      &copy; Dorisoy. All Rights Reserved
    </div>
    <div class="col-md-auto footer-social">
      <div class="form-row align-items-center">
        <div class="col-md-auto col-auto">
          <a href="#"><img src="assets/images/facebook.svg" alt="Facebook"></a>
        </div>
        <div class="col-md-auto col-auto">
          <a href="#"><img src="assets/images/youtube.svg" alt="Youtube"></a>
        </div>
        <div class="col-md-auto col-auto">
          <a href="#"><img src="assets/images/linkedin.svg" alt="Linkedin"></a>
        </div>
        <div class="col-md-auto col-auto">
          <a href="#"><img src="assets/images/instagram.svg" alt="Instagram"></a>
        </div>
      </div>
    </div>
  </div>
</div>
