<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <a [routerLinkActive]="'active-link'" class="nav-link" [routerLinkActiveOptions]="{exact: true}"
                    [routerLink]="['/admin']">
                    <span class="material-icons-outlined">
                        home
                    </span> 用户管理
                </a>
                <a class="nav-link" [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact: true}"
                    [routerLink]="['/admin/email-template']">
                    <span class="fas fa-mail-bulk  mr-1">
                    </span> 邮件模板
                </a>
                <a class="nav-link" [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact: true}"
                    [routerLink]="['/admin/email-smtp']">
                    <span class="fas fa-cog mr-1">
                    </span> 邮件SMTP
                </a>
                <a class="nav-link" [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact: true}"
                    [routerLink]="['/admin/logs']">
                    <span class="material-icons-outlined">
                        error
                    </span> 错误日志
                </a>
                <a class="nav-link" [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact: true}"
                    [routerLink]="['/admin/login-audit']">
                    <span class="material-icons-outlined">
                        history
                    </span> 登录活动日志
                </a>
            </div>
        </div>
    </nav>
</div>
