<ngx-extended-pdf-viewer [src]="documentUrl" [showToolbar]="true" [showSidebarButton]="true" [showFindButton]="true" height="91vh" [showPagingButtons]="true" [showZoomButtons]="true" [showPresentationModeButton]="true" [showOpenFileButton]="false" [showPrintButton]="true" [showDownloadButton]="false" [showBookmarkButton]="true" [showSecondaryToolbarButton]="true" [showRotateButton]="true" [showHandToolButton]="true" [showScrollingButton]="true" [showSpreadButton]="true" [showPropertiesButton]="true" [useBrowserLocale]="true"></ngx-extended-pdf-viewer>
<div class="loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>
