.file-preview-toolbar {
  top        : 0;
  left       : 0;
  display    : flex;
  width      : 100%;
  align-items: center;
  color      : var(--be-accent-contrast);
  height     : 60px;
  padding    : 0 15px;
  background : #2d2d2d;
  z-index    : 10;
  white-space: nowrap;
}

.back-arrow {
  color: #fff;
}

.download-button {
  position: absolute;
  right   : 30px;
}

.file-name {
  color      : #fff;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}

.alignleft {
  display: flex;
  justify-content: center;
  align-items: center;
  width     : 33.33333%;
  text-align: left;
}
.alignright {
  float     : right;
  width     : 33.33333%;
  text-align: left;
}

.aligncenter {
  float     : left;
  width     : 33.33333%;
  text-align: center;
}

.alignright {
  float     : left;
  width     : 33.33333%;
  text-align: right;
}
