.notification-row {
    padding: .75rem;
}

.unread-notification {
    position: absolute;
    top     : 15px;
    left    : 5px;
    z-index : 1;
}

.notification-table {
    tr {
        border-top: 1px solid #dee2e6 !important;
    }

    td {
        border-top   : none !important;
        border-bottom: none !important;
    }
}