.contry-flag {
  width: 25px;
}

.user-image {
  float        : left;
  width        : 25px;
  height       : 25px;
  border-radius: 50%;
  margin-right : 10px;
  margin-top   : -2px;
}

.nav-item>.user-profile {
  position: absolute;
  right   : 0;
  left    : auto;
}

.user-menu {
  right: 20px;
}

.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
  height    : 150px;
  padding   : 10px;
  text-align: center;
  background: #dedfe0;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer {
  background-color: #f9f9f9;
  padding         : 10px;
}

.font-initial {
  font-size: initial;
}

.user-footer .pull-left {
  float: left !important;
}

.user-footer .pull-right {
  float: right !important;
}

/* CSS for Notification */

.notifications-list {
  min-width : 400px;
  left      : -200px !important;
  max-height: 50vh;
  overflow  : auto;
}

.notifications-wrapper {
  overflow  : auto;
  max-height: 250px;
}

.menu-title {
  display: inline-block;
}

.glyphicon-circle-arrow-right {
  margin-left: 10px;
}

.notification-heading,
.notification-footer {
  padding: 2px 10px;
}

.dropdown-menu.divider {
  margin: 5px 0;
}

.item-title {
  font-size: 1.3rem;
  color    : #000;
}

.notifications a.content {
  text-decoration: none;
  background     : #ccc;
}

.notification-item {
  padding      : 10px;
  margin       : 5px;
  background   : #e0f1f7;
  border-radius: 4px;
}

.notification-view-all {
  float: right;
}

.notification-icon {
  font-size: 40px;
}

.notification-img {
  width: 40px;
}

.no-notification {
  margin : auto;
  width  : 50%;
  padding: 10px;
}

.logo {
  height: 46px!important;
}