@import '../../../assets/styles/colors.scss';

.bottom-right {
    position  : fixed;
    right     : 10px;
    bottom    : 10px;
    width     : 350px;
    overflow  : auto;
    max-height: 500px;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 5px 8px 0 rgb(0 0 0 / 14%), 0 1px 14px 0 rgb(0 0 0 / 12%);
}

.cdk-overlay-dark-backdrop {
    background: none !important;
}

.panel-header {
    background: $primary !important;
}

.mat-expansion-panel {
    overflow: inherit !important;
}

.mat-expansion-panel-body {
    overflow: hidden; // This rule fixes extra whitespace
}

.mat-expansion-panel-header.mat-expanded {
    position: sticky;
    top     : 0;
    z-index : 1000;
}