<div class="dialog-header">
    <div class="folder-dialog-info">
        <h5>Link is Password Protected</h5>
    </div>
</div>
<form class="mt-1" disableClose='true' [formGroup]="documentLinkForm">
    <div class="row align-items-center">
        <div class="col-md-auto">
            <span class="material-icons text-main" style="font-size: 100px;">
                https
            </span>
        </div>
        <div class="col-md  mt-4">
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">
                <div *ngIf="documentLinkForm.get('password').touched && documentLinkForm.get('password').errors">
                    <div class="text-danger" *ngIf="documentLinkForm.get('password').errors?.required">
                        Please enter the password.
                    </div>
                </div>
                <div class="text-danger" *ngIf="isPasswordInvalid">
                    Password is invalid.
                </div>
                <button type="submit" class="btn btn-primary mt-2" (click)="checkPassword()">Submit</button>
            </div>
        </div>
    </div>

</form>