.audio-div {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    text-align     : center;
    min-height     : calc(100vh - 60px);
    background     : #343232a1;
}