<div class="dialog-header">
  <div class="folder-dialog-info">
    <span class="material-icons">
      folder
    </span>
    <div>
      <div class="fw-600 fs-17 text-dark">拷贝 <strong class="text-primary">{{data.sourceName}}</strong> 文件夹到...</div>
    </div>
  </div>
  <div class="close-icon" (click)="onCancel()">
    <span class="material-icons cursor-pointer">
      close
    </span>
  </div>
</div>

<div class="d-content">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-auto col-sm-auto">
      <div class="content-header bread-nav">
        <ng-container *ngFor="let path of folderPaths; let last = last;">
          <button type="button" (click)="onFolderClick(path)" class="btn btn-link">{{path.name}}</button>
          <span *ngIf="!last" class="material-icons-outlined small-arrow">
            arrow_right
          </span>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-12">
      <div class="table-responsive table-responsive-dialog">
        <table class="table">
          <thead>
            <tr class="d-flex">
              <th class="col-12">名称</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="selectedFolder">
              <tr *ngFor="let folder of selectedFolder.children" class="d-flex">
                <td class="col-12">
                  <a role="button" class="d-flex align-items-center" (click)="onFolderClick(folder)">
                    <span class="material-icons folder_shared" *ngIf="!folder.isShared">
                      folder
                    </span>
                    <span class="material-icons folder_shared" *ngIf="folder?.isShared">
                      <img src="/assets/images/share-icon.svg" class="shared-icon">
                    </span>
                    <span class="text-dark">
                      {{folder.name }}
                    </span>
                  </a>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div mat-dialog-actions>
        <button class="btn btn-primary btn-sm m-right-10" (click)="onCopied()" cdkFocusInitial><i
            class="fas fa-save"></i>
            拷贝到这
        </button>
        <button class="btn btn-danger btn-sm" (click)="onCancel()"><i class="fas fa-times-circle"></i>
          取消
        </button>
      </div>
    </div>
  </div>
</div>
<div class="loading-shade" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
