<div class="d-flex flex-row align-items-start">
  <button *hasClaim="'IsDownloadFile'" class="btn btn-sm btn-secondary mr-2" (click)="download()"
    style="font-size: 16px;">
    <span class="material-icons-outlined">
      download
    </span>
    <span class="d-none d-md-inline-block" style="font-size: 16px;">下载</span>&nbsp;{{selectedFolder?.name}}
  </button>
  <ng-container *hasClaim="'IsDownloadFile'">
    <button *ngIf="documentAndFolderIds.length>0" class="btn btn-sm btn-secondary mr-2" (click)="downloadAll()">
      <span class="material-icons-outlined">
        download
      </span>
      <span class="d-none d-md-inline-block">下载</span>
    </button>
  </ng-container>
  <ng-container *hasClaim="'IsDeleteFileFolder'">
    <button *ngIf="documentAndFolderIds.length>0" class="btn btn-sm btn-danger btn-danger-toolbar"
      (click)="deleteAll()">
      <span class="material-icons-outlined delete-icon-size pr-1">
        delete
      </span>
      删除
    </button>
  </ng-container>
</div>
<div class="loading-shade" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
